!/backend/vendor/
/backend/vendor/*
!/backend/vendor/theframework/
/backend/tests/logs/
/backend/logs/
/backend/config/config.php
/backend/config/contexts.json
/backend/config/login.json
/backend/config/encdecrypt.json
/backend/public/temp/
.idea
/backend/.env.local