!/backend/vendor/
/backend/vendor/*
!/backend/vendor/theframework/
/backend/tests/logs/
/backend/logs/
# prod
/backend/config/config.php
/backend/config/contexts.json
/backend/config/login.json
/backend/config/encdecrypt.json
# prod-bk
/backend/config/config.prod.php
/backend/config/contexts.prod.json
/backend/config/login.prod.json
/backend/config/encdecrypt.prod.json

/backend/public/temp/
/backend/public/*_custom.log
.idea
/backend/.env.local
/backend/.env.prod